@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-smooth;
	}
	button[disabled] {
		@apply opacity-80 cursor-not-allowed;
	}
}

@layer components {
	.container {
		@apply mx-auto px-8;
	}

	.btn-navigation {
		@apply md:inline-flex md:items-center whitespace-nowrap px-4 pt-3 pb-2 md:pb-3;
	}

	.btn-navigation.active {
		@apply text-indigo-600 border-b-4 border-indigo-600 pb-[calc(0.5rem_-_4px)] md:pb-[calc(0.75rem_-_4px)];
	}

	.btn-navigation > .icon {
		@apply w-6 h-6 mx-auto mb-1 md:mb-0 md:ml-2;
	}

	.menu {
		@apply hidden opacity-0 scale-95;
		transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
	}

	.menu.hide {
		@apply block;
	}

	.menu.show {
		@apply opacity-100 scale-100;
	}

	.color-panel {
		@apply relative bg-white rounded-lg shadow-lg px-8 lg:px-12 py-6 lg:py-10;
	}

	.color-panel.disabled {
		@apply opacity-80;
	}

	.color-panel.disabled, .color-panel.disabled * {
		@apply cursor-not-allowed;
	}

	.btn-hovered-shadow:not([disabled]) {
		box-shadow: 0 0 0 transparent;
		transition: box-shadow 0.2s ease-in-out;
	}

	.btn-hovered-shadow:not([disabled]):hover {
		box-shadow: 0 0 5px -1px theme('colors.indigo.600');
	}

	.modal {
		@apply fixed w-screen h-screen top-0 left-0 bg-black/30 p-8 flex justify-center items-start overflow-auto z-[8888];
	}

	.modal-wrapper {
		@apply bg-white rounded-lg shadow-xl pb-12 max-w-[483px] lg:max-w-[965px];
	}

	.modal:not(.modal-w-auto) > .modal-wrapper {
		@apply w-[483px] md:w-2/3 lg:w-[965px];
	}

	.modal.modal-w-auto > .modal-wrapper {
		@apply max-w-[483px] lg:max-w-[965px];
	}

	.modal-header {
		@apply flex justify-end pb-5;
	}

	.modal-header > button {
		@apply text-gray-400/70 p-1;
	}

	.modal-header > button > * {
		@apply w-6 h-6;
	}

	.custom-form-select button {
		@apply opacity-100;
	}

	.code-editor {
		@apply relative bg-gray-900 border border-black rounded-lg;
	}

	.code-editor-content {
		@apply whitespace-nowrap w-fit text-gray-300 text-[0.9em];
	}

	.code-editor-content .red { @apply text-red-400; }
	.code-editor-content .blue { @apply text-blue-400/80; }
	.code-editor-content .yellow { @apply text-yellow-500/90; }
	.code-editor-content .green { @apply text-green-400/80; }
	.code-editor-content .purple { @apply text-violet-400; }
	.code-editor-content .comment { @apply text-gray-500; }

	footer .social-link {
		@apply text-xl md:text-2xl text-gray-100 mx-4 md:mx-2 transition-colors duration-200 ease-in-out hover:text-indigo-600;
	}
}

@layer utilities {
	.shadow-custom-1 {
		@apply shadow-[inset_5px_5px_10px_rgba(255,255,255,0.2),3px_3px_5px_rgba(0,0,0,0.4)];
	}
}
